.pricing {
	section {
		max-width: 1200px;
		margin: 0 auto;
	}

	.software-hero__background {
		left: 0;
	}

	.accordion-info {
		h3 {
			font-family: 'Montserrat-Light';
			font-size: 16px;
			line-height: 19px;
		}

		span {
			font-family: 'Montserrat-Light';
			font-size: 13px;
			line-height: 20px;
		}

		hr {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}
	#studio-accordion .panel {
	 	box-shadow: 0 1px 5px 0 rgba(0,0,0,.07),0 7px 17px 0 rgba(0,0,0,.1);
	 	border-top: 1px solid transparent;


	}
	#studio-accordion.panel-group .panel+.panel {
		margin-top: -5px;
	}
	#social-media-collapse-card{
			border-bottom-left-radius: 9px;
			border-bottom-right-radius: 9px;
	}

	#studio-accordion .panel {
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		h4 {
			font-family: "Montserrat-Black";
			font-size: 36px;
			line-height: 43px;
			opacity: 0.5
		}
		.panel-subheading {
			font-family: "Montserrat-Bold";
			font-size: 16px;
			opacity: 0.5
		}
		a:hover {
			color: $text-color;
		}
		&.active-panel {

			h4 {
				color: white;
				opacity: 1;
			}
			p {
				color: white;
			}
			.panel-subheading {
				opacity: 1;
			}
		}
		.panel-body {
			color: white;
			font-family: "Montserrat-Light";
			font-size: 14px;			
		}
	}

	#website-collapse-card.active-panel {
		background-color: #DE4BF8;
	}

	#influencer-collapse-card.active-panel {
		background-color: #A452F3;
	}

	#media-buy-collapse-card.active-panel {
		background-color: #24E47A;
	}

	#social-media-collapse-card.active-panel {
		background-color: #E52466;
	}
}

#website-collapse.in {
	.website-collapse__info {
		display:none;
	}
}
.pricing-hero {

	h1 {
		color: white;
		width: 90%;
		margin: 0 auto;
		max-width: 400px;
	}
	p {
		width: 90%;
		margin: 0 auto;
		color: white;
		margin-top: 20px;
		max-width: 600px;
	}
	ul {
		width: 90%;
		margin: 0 auto;
		max-width: 400px;
	}

	li {
		width:50%;
		float: left;
		a {
			margin-top: 20px;
			margin-right: 15px;
			margin-bottom: 20px;
		}
	}
	li.active {
		a {
			background-color: $active-button;
			color: white;
			&:hover {
				background-color: $active-button;
			}
		}
	}
}


.pricing-main {
	&__studio-form {
		margin-bottom: 40px;
	}
	&__studio-packages {
		margin-bottom: 40px;
	}
	&__container {

	}
	&__software-faq {
		margin-top: 80px;
		margin-bottom: 40px;
	}
	.submit-row {
		text-align: center;
	}

	&_faq-accordion {
		.panel-group .panel {
			border-top: none;
		}
	}
	&__levelup {
		&-background {
			background-image: url('../images/levelup-background-mobile.png');
			background-position: right bottom;
			background-size:cover;
			width: 100%;
			left: 0;
			height: 700px;
			position: absolute;

		}
		&-content {
			background-image: url('../images/levelup-background-mobile.png');
			background-position: right bottom;
			height: 600px;
			background-size: cover;			
		}
		& .row:not(&-content) {
			margin-top: -100px;
		}
		.col-sm-5 {
			height: 500px;
			h2 {
				color: white;
			}
			p {
				color: white;
				margin-top: 20px;
			}
			a {
				margin-top: 10%;
			}
		}
	}
}

@media (min-width: 768px) {
	.pricing-main {
		.submit-row {
			text-align: left;
		}

		&__studio-form {
			margin-top: 6.5%;
			margin-bottom: 40px;
		}

		&__container {
			margin-top: 6.5%;
		}
		#studio &__levelup {
			&-background {
				background-image: url('../images/woman_phone_Extended.png')
			}

			.col-sm-5 {
				padding-top: 100px;
			}
		}
		&__levelup {
			margin-top: 40px;
			.col-sm-7 {
				height: auto;
			}
			&-content {
				padding-top: 80px;
			}
			& .row:not(&-content) {
				margin-top: 0px;
			}
			&-background {
				height: 650px;
				background-image: url('../images/Blue_hat_girl.png');
				background-position: left;
				
			}
		}
	}
}

@media (min-width: 992px) {
	.pricing .software-hero__background {
		height: 500px !important;
	}
}

@media (min-width: 1200px) {
	
}

@media (min-width: 1400px) {
	
}

@media (min-width: 1800px) {
	
}